﻿@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@using AunctionApp.DAL.Entities;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var currentUser = User.Identity.Name;
}

@model AunctionApp.BLL.Models.ProfileVM;


<section class="mt-5">
    @if (@TempData["SuccessMsg"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show w-75 mx-auto d-block" role="alert">
            <strong>Success!</strong> @TempData["SuccessMsg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <section id="about" class="about">
        <div class="container shadow-lg p-3 mb-5 bg-white rounded w-50" style="align-items:contain" data-aos="fade-up">
            <div class="section-title">
                <h2>Profie</h2>
                <p></p>
                <div class="row">
                    <div id="portfolio" class="portfolio d-flex">
                        <div class="col-lg-4 portfolio-container " data-aos="fade-up" data-aos-delay="200">
                            <div class="portfolio-item filter-app">
                                <div class="portfolio-wrap rounded-circle mt-5">

                                    @if (@Model.User.ProfileImagePath == "Blank-Pfp.jpg")
                                    {
                                        <img src="~/img/ProfileImages/Blank-Pfp.jpg" class="img-fluid rounded-circle mx-auto" alt="">
                                    }
                                    else
                                    {
                                        <img src="~/img/ProfileImages/@Model.User.ProfileImagePath" class="img-fluid rounded-circle mx-auto" alt="">
                                    }

                                    <div class="portfolio-info">
                                        @*<h4>@Model.User.UserName</h4>*@
                                        <div class="portfolio-links mx-auto">
                                            <a href="~/img/ProfileImages/@Model.User.ProfileImagePath" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@Model.User.UserName"><i class="fa-solid fa-up-right-and-down-left-from-center fa-sm"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio d-flex">
                                    <form asp-controller="User" asp-action="UpdateProfileImage" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details" enctype="multipart/form-data">
                                        <div class="alert-danger" asp-validation-summary="@ValidationSummary.ModelOnly"></div>

                                        <div class="col-12">
                                            <div class="custom-file form-control">
                                                <input asp-for="@Model.Image.ProfileImagePath" type="file" accept=".png, .jpg, .jpeg" required>
                                                <span asp-validation-for="@Model.Image.ProfileImagePath"></span>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button class="btn btn-success btn-sm" type="submit">update</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12 pt-4 pt-lg-0 content mx-2 mt-5">
                            <div class="row">
                                <div class="col-lg-6 m-2">
                                    <ul class="list-unstyled">
                                        <li class="m-3">
                                            <i class="bi bi-person-fill me-2"></i> <strong>UserName:</strong> @Model.User.UserName<hr>
                                        </li>
                                        <li class="m-3">
                                            <i class="bi bi-person-fill me-2"></i> <strong>First Name:</strong> @Model.User.FirstName<hr>
                                        </li>
                                        <li class="m-3">
                                            <i class="bi bi-person-fill me-2"></i> <strong>Last Name:</strong> @Model.User.LastName<hr>
                                        </li>
                                        <li class="m-3">
                                            <i class="bi bi-phone-fill me-2"></i> <strong>Phone:</strong> @Model.User.PhoneNumber<hr>
                                        </li>
                                        <li class="m-3">
                                            <i class="bi bi-envelope-fill me-2"></i> <strong>Email:</strong> @Model.User.Email<hr>
                                        </li>
                                        <li class="m-3">
                                            <i class="bi bi-geo-alt-fill me-2"></i> <strong>Address:</strong> @Model.User.Address<hr>
                                        </li>
                                        <li>
                                            @if (User.IsInRole("User"))
                                            {
                                                <span class="px-1">
                                                    <a asp-controller="User" asp-action="UpdateUser" asp-route-Id="@Model.User.Id" title="Update User">
                                                        <i class="fa-sharp fa-solid fa-pen fa-xl" style="color: black"></i>
                                                    </a>
                                                    : Edit User
                                                </span>
                                            }
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}