﻿@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@using AunctionApp.DAL.Entities;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var currentUser = User.Identity.Name;
}

@model AunctionApp.BLL.Models.ProfileVM;


<section class="mt-5">
    @if (@TempData["SuccessMsg"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show w-75 mx-auto d-block" role="alert">
            <strong>Success!</strong> @TempData["SuccessMsg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <section id="profile" class="profile">
        <div class="container shadow-lg p-3 mb-5 bg-white rounded">
            <div class="profile main">
                <div class="row">
                    <div class="col-md-4 mt-1">
                        <div class="card text-center sidebar">
                            <div class="card-body mt-3">
                                    <h5>@Model.User.UserName's' Profie</h5>
                                    @if (@Model.User.ProfileImagePath == "Blank-Pfp.jpg")
                                    {
                                        <a href="~/img/@Model.User.ProfileImagePath" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@Model.User.UserName">               
                                            <img src="~/img/ProfileImages/Blank-Pfp.jpg" class="img-fluid rounded-circle mx-auto" alt="">
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="~/img/ProfileImages/@Model.User.ProfileImagePath" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@Model.User.UserName">
                                            <img src="~/img/ProfileImages/@Model.User.ProfileImagePath" class="img-fluid rounded-circle mx-auto" alt="">
                                        </a>
                                    }
                               
                                    <div class="profile-form m-2 mb-3">
                                        <form asp-controller="User" asp-action="UpdateProfileImage" enctype="multipart/form-data" id="form-file" style="display:block;">
                                            <div class="alert-danger" asp-validation-summary="@ValidationSummary.ModelOnly"></div>
                                      
                                                <input asp-for="@Model.Image.ProfileImagePath" type="file" accept=".png, .jpg, .jpeg" style="display:block;" required>
                                                <span asp-validation-for="@Model.Image.ProfileImagePath"></span>


                                            <div class="col-12">
                                                <button class="btn btn-success btn-sm" type="submit">update</button>
                                            </div>
                                        </form>

                                    </div>
                                    <hr></hr>

                                    <div class="anchor-links" style="display:block;">

                                       <div class="profile-detail-head mt-2">
                                            @if (User.IsInRole("SuperAdmin"))
                                            {
                                                <a class="" asp-area=" " asp-controller="User" asp-action="RegisterAdmin">Register Admin</a>
                                            }
                                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                            {
                                                <a asp-controller="User" asp-action="UpdateUser" asp-route-Id="@Model.User.Id">Edit Profile</a>
                                                <a class="" asp-area="" asp-controller="User" asp-action="UserChangePassword">change password</a>
                                                <a class="" asp-area=" " asp-controller="User" asp-action="SignOut">LogOut</a>
                                            }
                                             @if (User.IsInRole("User"))
                                            {
                                                <a asp-controller="User" asp-action="UpdateUser" asp-route-Id="@Model.User.Id">Edit Profile</a>                               
                                                <a class="" asp-area="" asp-controller="User" asp-action="UserChangePassword">change password</a>
                                                <a class="" asp-area=" " asp-controller="User" asp-action="SignOut">LogOut</a>
                                            }
                                       </div>

                                    </div>
                                    <i class="fa-solid fa-list fa-xl" onclick="toggleAnchorLinks()"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 mt-1">
                        <div class="profile-details card mb-3 content">
                            <div class="card-body">
                                <div class="row">
                             
                                    <div class="col-md-3">
                                        <h5>UserName</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                            @Model.User.UserName
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                              
                                    <div class="col-md-3">
                                        <h5>Full Name</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                          @Model.User.FirstName  @Model.User.LastName
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                         
                                    <div class="col-md-3">
                                        <h5>Email</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                            @Model.User.Email
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                
                                        <h5>Phone</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                            @Model.User.PhoneNumber
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                               
                                        <h5>Address</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                            @Model.User.Address
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>


@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}