@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@using AunctionApp.DAL.Entities;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@model AunctionApp.BLL.Models.ProfileVM;

<section class="breadcrumbs">
    <div class="container">
    </div>
</section>

@if (@TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @TempData["SuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (@TempData["ErrMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @TempData["ErrMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Profie</h2>
            <p></p>
        <div class="row">
                <div class="col-lg-4">
                    <img src="~/img/@Model.User.ProfilePicturePath" class="img-fluid" alt="">
                    <form asp-controller="User" asp-action="UpdateProfileImage" method="post" id="profileImageForm">
                        <div>
                            <input type="file" asp-for="@Model.Image.ProfileImagePath" onchange="submitForm()" />
                            <span asp-validation-for="@Model.Image.ProfileImagePath"></span>
                        </div>
                    </form>
                </div>

                <script>
                    function submitForm() {
                        document.getElementById("profileImageForm").submit();
                    }
                </script>

            <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>UserName: @Model.User.UserName</h3>
                <p class="fst-italic">
                    
                </p>
                <div class="row">
                    <div class="col-lg-6 m-2">
                        <ul>                      
                            <li class="m-3"><i class="bi bi-rounded-right"></i> <strong>First Name: </strong>@Model.User.FirstName</li>
                            <li class="m-3"><i class="bi bi-rounded-right"></i> <strong>Last Name: </strong>@Model.User.LastName</li>
                            <li class="m-3"><i class="bi bi-rounded-right"></i> <strong>UserName:  </strong>@Model.User.UserName</li>
                            <li class="m-3"><i class="bi bi-rounded-right"></i> <strong>Phone:  </strong>@Model.User.PhoneNumber</li>
                            <li class="m-3"><i class="bi bi-rounded-right"></i> <strong>Email:  </strong>@Model.User.Email</li>
                            <li class="m-3"><i class="bi bi-rounded-right"></i> <strong>Email:  </strong>@Model.User.Address</li>
                        </ul>

                        @if (User.IsInRole("User"))
                        {
                            <span class="px-1">
                              
                                    <a asp-controller="User" asp-action="UserBids" title="Check all placed bids">
                                        <i class=" fa-sharp fa-solid fa-bars-sort fa-xl" style="color: black"></i>
                                    </a>
                            </span>
                        }
                        </div>
                  
                </div>
               
            </div>
        </div>

    </div>
</section>
