@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@model IEnumerable<AunctionApp.BLL.Models.AunctionVMForm>

<section class="breadcrumbs">
    <div class="container">
    </div>
</section><!-- End Breadcrumbs -->


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th> <!-- new column for buttons -->
        </tr>
    </thead>
    
    @foreach (var item in Model.Select((value, i) => new { value, i }))
    {
    <tbody>
        <tr>
            <th scope="row">@(item.i + 1)</th>
            <td>@item.value.ProductName</td>
            <td>@item.value.ActualAmount</td>
            <td>@item.value.Status</td>
           
            <td>
                <!-- new column for buttons -->
                    <button type="button" class="btn btn-warning btn-rounded btn-sm">
                            <a href="@Url.Action("Update", "Admin", new { userId = @item.value.Id, _method = "Get" })"></a>Edit
                    </button>  

                    <button type="button" class="btn btn-warning btn-rounded btn-sm">
                        <a href="@Url.Action("Delete", "Admin", new { userId = @item.value.Id, _method = "Get" })"></a>Delete
                    </button>  
                    
                    <button type="button" class="btn btn-warning btn-rounded btn-sm">
                        <a href="@Url.Action("SaveStatus", "Admin", new { userId = @item.value.Id, _method = "Get" })"></a>Sell
                    </button>           
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>not sold</td>
            <td>
                <!-- new column for buttons -->
                <button type="button" class="btn btn-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-danger btn-sm">Delete</button>
                <button type="button" class="btn btn-success btn-sm">sell</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>sold</td>
            <td>
                <!-- new column for buttons -->
                <button type="button" class="btn btn-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-danger btn-sm">Delete</button>
                <button type="button" class="btn btn-success btn-sm">sell</button>
            </td>
        </tr>
    </tbody>
    }
</table>

@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}

