@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    Pagination pager = new Pagination();
    int pageNo = 0;
    if (ViewBag.Pagination != null)
    {
        pager = ViewBag.Pagination;
        pageNo = pager.CurrentPage;
    }
}
 
@using AunctionApp.BLL.Pagination;
@using AunctionApp.DAL.Entities;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@model IEnumerable<AunctionApp.BLL.Models.AuctionWithBidVM>


<section class="mt-5">
@if (@TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show w-75 mx-auto d-block" role="alert">
        <strong>Success!</strong> @TempData["SuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (@TempData["ErrMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show w-75 mx-auto d-block" role="alert">
        <strong>Error!</strong> @TempData["ErrMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@foreach (var item in Model.Select((value, i) => new { value, i }))
{      
  <section id="features" class="features">
      <div class="container shadow-lg p-3 mb-4 bg-white rounded w-95" data-aos="fade-up">

      <div class="row">
          <div class="image col-lg-6" style='background-image: url("../img/Auctions/@item.value.ProductImagePath");' data-aos="fade-right"></div>
        
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>@item.value.ProductName</h3>

          <p class="fst-bold">
           @item.value.Description
          </p>

          <p class="fw-bold">
            PRICE: $@item.value.ActualAmount
          </p>

          <p class="fw-bold">
            STATUS: @item.value.Status
          </p>        

            @if (User.IsInRole("User"))
            {
                @if (item.value.Status != "Sold")
                {
                    <div class="d-flex"> <strong> Time Left:
                        <span id="countdown" data-ProductId="@item.value.Id"> </span>
                    </strong></div>
                     <br />

                    <span class="px-2">
                        <a asp-controller="Auction" asp-action="MakeBid" asp-route-ProductId="@item.value.Id" title="Make Bid" style="color:black">
                            Make Bid: 
                            <i class="fa-sharp fa-solid fa-plus fa-2xl" style="color:green"></i>
                        </a>
                    </span>
                }
                else
                {                      
                    <div id="ClosedcountdownElement"></div>
                    <p class="fw-bold">
                        Sold To: @item?.value?.Bids?.Max(u=> u.Bidder) for:  $@item?.value?.Bids?.Max(u=> u.BidPrice)
                    </p>
                }
            }

            else
            {
                @if (item.value.Status == "Sold")
                {
                    <div id="ClosedcountdownElement"></div>
                    <p class="fw-bold">
                        Sold To: @item?.value?.Bids?.Max(u=> u.Bidder) for:  $@item?.value?.Bids?.Max(u=> u.BidPrice)
                    </p>
                }
               
            }

            @if (item?.value.Status != "Sold")
            {
                <div class="column mw-100 mt-4">
                    <div class="col-lg-6 order-2 order-lg-3" data-aos="fade-right" data-aos-delay="100">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Bidder</th>
                                    <th scope="col">Bid Time</th>
                                    <th scope="col">($)Bid Price</th>

                                </tr>
                            </thead>

                            @foreach (var bid in item.value.Bids.Select((value, i) => new { value, i }))
                            {
                                <tbody>
                                    <tr>
                                        <th scope="row">@(
                                        bid.i + 1
                                        )</th>
                                        <td>@bid.value.Bidder</td>
                                        <td>@bid.value.BidTime</td>
                                        <td>@bid.value.BidPrice</td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>     
                </div>
            }
            </div>
      </div>
    </div>

  </section>
  }
    <div class=" container data-aos-delay=" 100"">
        @if(pager.TotalPages > 0)
        {
            <ul class="pagination">

                @if (pager.CurrentPage > 1)
                {
                    <li>
                        <a class="" asp-controller="Auction" asp-action="Home" asp-route-pg="1" style="color:green">
                            First
                        </a>
                    </li>

                    <li>
                        <a class="" asp-controller="Auction" asp-action="Home" asp-route-pg="@(pager.CurrentPage - 1)" style="color:red">
                            Previous
                        </a>
                    </li>
                }

                @for(var pge = pager.StartingPage; pge <= pager.EndingPage; pge++)
                {
                    <li>
                        <a class="@(pge == pager.CurrentPage? "active":"")" asp-controller="Auction" asp-action="Home" asp-route-pg="@pge">
                            @pge
                        </a>
                    </li>
                }
                
                @if(pager.CurrentPage < pager.TotalPages)
                {
                    <li>
                        <a class="" asp-controller="Auction" asp-action="Home" asp-route-pg="@(pager.CurrentPage + 1)" style="color:green">
                        Next
                        </a>
                    </li>

                    <li>
                        <a class="" asp-controller="Auction" asp-action="Home" asp-route-pg="@(pager.CurrentPage - 1)" style="color:red">
                        Last
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</section>

@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
 }